//- extends layout.pug

//- block content
//-   h1 Welcome to the Classroom Reservation System
//-   nav
//-     ul
//-       li
//-         a(href='/classrooms') View Classrooms
//-       li
//-         a(href='/reservations') View My Reservations
//-       li
//-         a(href='/logout') Logout


extends layout.pug

block content
  h1 Welcome to the Classroom Reservation System
  include navigation.pug